<h1>Mico and Bagani's Shop</h1>

<ul>
  <li><%= link_to "Item Supplier", items_path %></li>
  <li><%= link_to "Shop", inventory_items_path %></li>
  <li><%= link_to "Inventory Transactions", inventory_transactions_path %></li>
</ul>
