<div class="center hero-unit">
	<h1>The Shopping Carrot</h1>
	
	<h2>
		Where everything is orange...or whatever.
	</h2>
	
	<p>
	</p>
	
	<%= link_to image_tag("orange.png", alt: "Rails"), 'https://www.youtube.com/watch?v=ZN5PoW7_kdA/' %>
</div>

