<footer class="footer">
	<small>
		<a href="http://railstutorial.org/">Ruby App</a>
		by Bagani Sularte and Miguel Paolo Maglaque
	</small>
	<nav>
		<ul>
		<li><a href="http://io9.com">Geeky Stuff</a></li>
		</ul>
	</nav>
</footer>